#setuptools 
#pip 
#cupy
natsort
numpy
h5py 
numba>=0.56
pandas
#vegas 
corner 
scikit-learn 
matplotlib 
lalsuite
gwdatafind 
#ligo-segments 
#python-ligo-lw
igwn-segments
igwn-ligolw
six
precession
ligo.skymap
gwpy
natsort
scipy
htcondor
